// Normalization
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

// App styles

.App {
  min-width: 1750px;
  overflow: hidden;
}

.k-drawer-container {
  background-color: $background-color;
  min-height: calc(100vh - 80px);

  .k-drawer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-right-width: 0 !important;
  }

  &.k-drawer-expanded .k-drawer-wrapper {
    width: 240px !important;
  }

  & .k-drawer-wrapper {
    width: 50px !important;
    opacity: 1;
    transition: all 200ms ease 0s;
  }
}

.card-container {
  background-color: $white;
  padding: 40px 0;
  text-align: center;

  &.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 1em;

    .k-dropdown,
    .k-datetimepicker,
    .k-combobox {
      width: 100%;
    }
  }

  .card-buttons {
    .k-button {
      min-width: 105px;
    }
  }

  .card-ranges {
    .k-daterangepicker {
      .k-textbox-container,
      .k-floating-label-container {
        padding-top: 0;
        min-width: 105px;
      }

      .k-label {
        display: none;
      }
    }
  }

  .card-component {
    grid-column: 1 / -1;
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  .card-container {
    text-align: _initial;
    padding: 30px;

    &.grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .card-title {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    .card-buttons {
      text-align: center;
      grid-column: 1 / -1;
      grid-row: 2;
    }

    .card-ranges {
      text-align: right;
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
}

@media (min-width: 768px) {
  .card-container {
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    &.grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .card-buttons {
      text-align: center;
      grid-column: 2 / 3;
      grid-row: 1;
    }

    .card-ranges {
      text-align: right;
      grid-column: 3 / 4;
    }

    .card-component {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

// Header
.header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 3;

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: $white;
  }

  .menu-button {
    flex: 0 0 50px;
    text-align: center;
  }

  .hamburger-icon {
    background-image: url('./../_assets/hamburger-icon.svg');
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;
  }

  .title {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
  }

  .k-avatar {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 25px;
    box-shadow: 0 0 0px 1px $white;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .settings {
    display: none;
  }
}

@media (min-width: 480px) {
  .header {
    .title {
      flex-direction: row;
      align-items: center;
    }
    .vl {
      border-left: 1px solid $white;
      height: 25px;
      margin: 6px 15px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    .settings {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      margin-right: 1rem;
    }

    .k-dropdown {
      max-width: 90px;
      margin-left: 15px;
    }
  }
}

.k-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 0;

  & .k-scheduler-edit-form {
    padding: 20px;
  }
}

.popup-content {
  max-width: 270px;
  box-sizing: border-box;
  padding: 15px 10px;
  color: #787878;
  background-color: #fcf7f8;
  border: 1px solid rgba(0, 0, 0, 0.05);

  p {
    margin: 15px;
    margin-top: 0;
  }
}

.validate-date-popup {
  max-width: 270px;
  box-sizing: border-box;
  padding: 15px 10px;
  color: #787878;
  background-color: #fcf7f8;
  border: 1px solid rgba(0, 0, 0, 0.05);

  p {
    margin: 15px;
    margin-top: 0;
  }

  & .appointment-time {
    margin-left: auto;
  }
}

.k-scheduler-toolbar {
  z-index: 1;
}

.SchedulerItemContent-popup-content {
  box-sizing: border-box;
  padding: 10px;
  color: #787878;
  background-color: #fcf7f8;
  border: 1px solid rgba(0, 0, 0, 0.05);

  .team-marker {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 6px;
  }

  h5 {
    margin: 0;
    font-size: 1rem;
  }

  .k-card-body {
    padding: 0 8px;
  }

  .k-card-header {
    padding: 8px;
  }

  .k-card-header:last-child {
    border: none;
  }

  .k-i-edit {
    color: #4db5c8;
  }

  .k-i-delete {
    color: #dc3545;
  }
}

.Grid__addNewItemWrapper {
  display: inline-flex;
  float: left;
  align-items: center;

  & .Grid__addNewItemTitle {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 6px;
  }

  button.k-button {
    background: transparent;
    border: none;
    padding: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;

    .k-i-plus-circle {
      color: #44af8e;
      font-size: 1.7rem;
    }
  }
}
